@charset "UTF-8";

/*fontes importadas*/
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*configuração do reset de todas as tags na pagina*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*configuração do corpo da pagina*/
body {
  font-size: 100%;
  background-color: rgb(0, 0, 0);
}

/*configuração capas*/

div#interface {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 98.9%;
  margin-left: 5px;
  margin-right: 0px;
  z-index: 1;
  box-shadow: 1px 1px 4px red;
}

img#capa {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 1;
}

img#capa02 {
  display: flex;
  position: fixed;
  align-items: stretch;
  margin: 0;
  left: 0.3%;
  width: 98.9%;
  height: 100%;
  padding: 0;
  box-shadow: 1px 1px 4px red;
  z-index: 9999;
  opacity: 1;
}

/*configuração menu*/

nav#menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0;
  opacity: 1;
}

.cabecalho-menu {
  position: fixed;
  display: flex;
  gap: 50px;
  z-index: 99999;
}

nav#menu a {
  text-decoration: none;
  color: rgb(255, 145, 0);
  font-family: 'Caprasimo', cursive;
  font-weight: 400;
  font-size: 25px;

}

.menut {
  display: none;
}

/*configuração-section biografia*/
section#biografia {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  margin-top: 35%;
  margin-bottom: 0;
}

article#conteudo-biografia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0 auto;
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  gap: 5px;
  border: 0.4px solid red;
  border-radius:1%;
}

section#biografia h1 strong {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: 'Pacifico', cursive;
  font-size: 30pt;
}

section#biografia h2 {
  color: rgb(255, 255, 255);
  font-family: 'Caprasimo', cursive;
  font-size: 15pt;
  margin-bottom: 2%;
  flex-direction: row;

}

section#biografia p {
  display: flex;
  position: relative;
  text-align: justify;
  margin: 0 auto;
  width: 100%;
  padding-top: 0.5%;
  padding-left: 20%;
  padding-right: 2%;
  padding-bottom: 0;
  color: white;
  display: inline;
  font-size: 13pt;
}

section#biografia p strong {
  color: rgb(255, 145, 0);
}

section#biografia p#texto-f {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 14pt;
}

img#djfoto01 {
  display: flex;
  position: static;
  max-width: 100%;
  max-height: 100%;
  padding-top: 0%;
  margin-top: -20%;
  margin-left: -75%;
  margin-bottom: 0 auto;
  margin-right: 0 auto;
  transform: translate(-10%, -10%);
}

/*configuração album de fotos*/
section#corpo-fotos {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  color: white;
  margin-top: 5%;
}

hgroup#titulo-fotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}

hgroup h1#tfotos {
  max-width: 401px;
  max-height: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 30pt;
}

hgroup h3#subt-fotos {
  font-family: 'Caprasimo', cursive;
  font-size: 15pt;
}

ul#fotos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

ul#fotos li#foto01 {
  display: flex;
  position: relative;
  width: 401px;
  height: 431px;
  margin: 10px;
  overflow: hidden;
  background-image: url("../_fotos/fotodj01.png");
  background-repeat: no-repeat;
  border-radius: 5%;
}

ul#fotos li#foto01:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 0.3s ease;
}

ul#fotos li#foto01:hover:before {
  opacity: 0.4;
}

ul#fotos li#foto02 {
  display: flex;
  position: relative;
  width: 401px;
  height: 431px;
  margin: 0 auto;
  overflow: hidden;
  background-image: url("../_fotos/fotodj02.png");
  background-repeat: no-repeat;
  border-radius: 5%;
}

ul#fotos li#foto02:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 0.3s ease;
}

ul#fotos li#foto02:hover:before {
  opacity: 0.4;
}



ul#fotos li#foto04 {
  display: flex;
  position: relative;
  width: 401px;
  height: 431px;
  margin: 10px;
  overflow: hidden;
  background-image: url("../_fotos/fotodj04.png");
  background-repeat: no-repeat;
  border-radius: 5%;
}

ul#fotos li#foto04:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 0.3s ease;
}

ul#fotos li#foto04:hover:before {
  opacity: 0.4;
}

/*redes sociais*/
header#redes-sociais {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin-top: 20%;
  margin-bottom: 28%;
  width: 100%;
  height: 100%;
  color: white;
}

header#redes-sociais h1 {
  display: flex;
  font-size: 50px;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

header#redes-sociais p {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

div#icone-social {
  display: flex;
  position: relative;
  gap: 50px;
  margin-top: 0;
  padding: 0;
}

/*rodape*/
footer#rodape {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 10%;
  margin-left: 0.4%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  color: rgb(255, 145, 0);
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgb(255, 0, 0);
  border-bottom: 1px solid rgb(255, 0, 0);
  z-index: 999999;
}

/* seção do vídeo */
.player-wrapper {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 20%;
  padding: 20px;
  background-color: #000000;
  box-shadow: 0 2px 8px rgb(255, 0, 0);
  border-radius:1%;
}

.player-wrapper h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: 'Pacifico', cursive;
}

.player-wrapper p {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.player-wrapper h3 {
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  color: white;
}

/* Estilos para o vídeo */
video#my-video {
  width: 100%;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(255, 0, 0);
}

/* Estilos para os controles do vídeo */
video#my-video::-webkit-media-controls {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 10px;
}

video#my-video::-webkit-media-controls-start-playback-button {
  display: initial;
}

video#my-video::-webkit-media-controls-volume-slider {
  width: 100px;
}

video#my-video::-webkit-media-controls-mute-button {
  margin-right: 10px;
}

/* Estilos para as fontes de legenda do vídeo */
video#my-video::cue {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 2px 4px;
}

/*responsividade*/

@media screen and (max-width: 1200px) {
  ul#fotos {
    margin-left: 0px;
  }

  ul#fotos li#foto01 {
    margin-left: 10%;
    margin-right: 0px;
  }

  img#capa02 {
    margin-top: 15%;
  }

}

@media screen and (max-width: 1024px) {
  ul#fotos {
    margin-left: 60px;
  }

  ul#fotos li#foto01 {
    margin-left: 30px;
    margin-right: 0px;
  }

}

@media screen and (max-width: 912px) {
  img#capa02 {
    display: none;
  }

  ul#fotos li#foto01 {
    margin-left: -30px;
    margin-right: 0px;
  }

  ul#fotos li#foto04 {
    margin-left: 0;
    margin-right: 25px;
  }

  ul#fotos li#foto02 {
    margin-right: 25px;
  }

  .player-wrapper {
    margin: 5%;
  }

}

@media screen and (max-width: 871px) {
  nav#menu a {
    font-size: 15px;
  }

  img#capa02 {
    display: none;
  }

  ul#fotos {
    width: 80%;
  }

  ul#fotos li#foto01 {
    margin-left: 0px;
    margin-right: 0px;
  }

  ul#fotos li#foto04 {
    margin-left: 0;
    margin-right: 0px;
  }

  ul#fotos li#foto02 {
    margin-right: 0px;
    margin-left: 0;
  }

}

@media screen and (max-width: 760px) {
  img#capa02 {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  nav#menu a {
    display: none;
  }

  .container {
    width: 98.0%;
    margin-left: 5px;
    margin-right: 0px;
  }

  img#capa02 {
    display: none;
  }

  ul#fotos {
    margin-right: 0;
    margin-left: 10%;
    padding-right: 1%;
    padding-left: 0;
  }

  ul#fotos li#foto01 {
    display: flex;
    position: relative;
    width: 401px;
    height: 431px;
    margin-right: 0;
    margin-left: 0;
  }

  ul#fotos li#foto02 {
    display: flex;
    position: relative;
    width: 401px;
    height: 431px;
    margin-right: 0;
    margin-left: 0;
  }

  ul#fotos li#foto04 {
    display: flex;
    position: relative;
    width: 401px;
    height: 431px;
    margin-right: 0;
    margin-left: 0;
  }

  section#biografia p {
    display: flex;
    position: relative;
    text-align: justify;
    margin: 0 auto;
    width: 100%;
    padding-top: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0;
    color: white;
    display: inline;
    font-size: 13pt;
  }

  img#djfoto01 {
    width: 50%;
    margin-left: 7%;
    margin-top: 0%;

  }

  section#biografia p {
    font-size: 11pt;
  }
}

@media screen and (max-width: 415px) {
  ul#fotos li#foto01 {
    display: flex;
    position: relative;
    width: 301px;
    height: 331px;
    margin-right: 0;
    margin-left: 0;
  }

  ul#fotos li#foto02 {
    display: flex;
    position: relative;
    width: 301px;
    height: 331px;
    margin-right: 0;
    margin-left: 0;
  }

  ul#fotos li#foto04 {
    display: flex;
    position: relative;
    width: 301px;
    height: 331px;
    margin-right: 0;
    margin-left: 0;
  }

  .player-wrapper h3 {
    font-size: 15px;
  }
}